<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Document</title>
</head>
<body>
   <!-- Option 1: Using locals (more reliable) -->
<% if(typeof locals.userName === 'undefined' || !locals.userName){ %>
    <h1>The Book-Hive app</h1>
<% } else { %>
    <h1>Hello <%= userName %> Welcome to Your Book-Hive app</h1>
<% } %>


